html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Tahoma, sans-serif;
}

/*Buttons Design*/

/*Enabled Buttons*/

.enabledbutton {
  background: rgb(31, 22, 44);
  background: linear-gradient(90deg, rgba(31, 22, 44, 1) 0%, rgba(147, 65, 57, 1) 50%, rgba(31, 22, 44, 1) 100%);
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(31, 22, 44);
}

.enabledbutton:hover {
  background: rgb(31, 22, 44);
}

.enabledbutton:active {
  position: relative;
  top: 1px;
}

/*Disabled Buttons*/

.disabledbutton {
  background: rgb(31, 22, 44);
  background: linear-gradient(90deg, rgba(31, 22, 44, 1) 0%, rgba(106, 95, 94, 1) 50%, rgba(31, 22, 44, 1) 100%);
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(31, 22, 44);
  cursor: not-allowed;
  opacity: 0.65;
}

.disabledbutton:hover {
  background-color: rgb(31, 22, 44);
}

.disabledbutton:active {
  position: relative;
  top: 1px;
}

/*StopWatch*/

#output {
  background: rgb(31, 22, 44);
  background: linear-gradient(90deg, rgba(31, 22, 44, 1) 0%, rgba(147, 65, 57, 1) 50%, rgba(31, 22, 44, 1) 100%);
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(31, 22, 44);
}

.output:hover {
  background-color: rgb(31, 22, 44);
}

.output:active {
  position: relative;
  top: 1px;
}

/*Hackerman Button*/

.Hacker {
  background-image: url("http://localhost/ProyectoFinal/SliderPuzzle/resources/images/cosmosenergy.jfif");
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7442f4;
}

.Hacker:hover {
  /*background-color: #7442f4;*/
  font-size: 25px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Hacker:active {
  position: relative;
  top: 1px;
}

.Hacker:focus {
  outline: 0;
}

/*Tooltip*/

.Hacker {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #7442f4;
}

.Hacker .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-image: url("http://localhost/ProyectoFinal/SliderPuzzle/resources/animations/clone.gif");
  background-size: 120px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Hacker.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: #555 transparent transparent transparent;
}

.Hacker:hover .tooltiptext {
  font-size: 15px;
  visibility: visible;
  opacity: 1;
}

/*Modal Styles*/

/*Win Modal*/

:root {
  --modal-duration: 1s;
  --modal-color: #f4f4f4;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 8% auto;
  width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2, .modal-footer h3 {
  margin: 0;
  text-align: center;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #015871;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #cc483c;
  text-align: center;
  color: #f4f4f4;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #015871;
  float: right;
  font-size: 30px;
  color: #015871;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Hackerman Modal*/

#my-modal-hackerman .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#my-modal-hackerman .modal-content {
  margin: 8% auto;
  width: 750px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

#my-modal-hackerman .modal-header h2, #my-modal-hackerman .modal-footer h3 {
  margin: 0;
  text-align: center;
}

#my-modal-hackerman .modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #015871;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#my-modal-hackerman .modal-body {
  padding: 10px 20px;
  background-image: url("http://localhost/ProyectoFinal/SliderPuzzle/resources/animations/stars.gif");
  background-size: 100%;
  text-align: center;
  color: #f4f4f4;
}

#my-modal-hackerman .modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#my-modal-hackerman .close {
  color: #015871;
  float: right;
  font-size: 30px;
  color: #015871;
}

#my-modal-hackerman .close:hover, #my-modal-hackerman .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.resultadoHackerman {
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
}